{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8">
		<meta name="description" content="App for archive my wifes blood pressure">
		<meta name="keywords" content="Ciśnienie,Blood pressure">
		<meta name="author" content="Daniel Konwisorz">	
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/pressure.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <title>Ciśnienia</title>
    </head>
    <body>
        <div class="page-header">
            <h1>Zestawienie ciśnień</h1>
        </div>
        <div class="button">
            <a href='/admin/pressure/bloodpressure/add/'>Dodaj ciśnienie</a>
		</div>
        </br>
        <div class="table">
            <table style="width:100%" border="1" >
                <tr>
                    <th>Data dodania</th>
                    <th>Skurczowe</th> 
                    <th>Rozkurczowe</th>				
                    <th>Puls</th>
                    <th>Komentarz</th>				
                </tr>		
            {% for bl_press in all_bl_press %}
                <tr>
                    <td>{{bl_press.add_date_time}}</td>
                    <td>{{bl_press.systolic_value}}</td>
                    <td>{{bl_press.diastolic_value}}</td>
                    <td>{{bl_press.pulse}}</td>
                    <td>{{bl_press.comment}}</td>
                 </tr>		
            {% endfor %}
            </table>		
        </div>
	</body>
</html>